#about-section {
  display: flex;
  justify-content: center;
}

#about-left-column {
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5%;
}

#about-p {
  color: rgb(43, 255, 0);
  font: normal normal 25px/1 "proxima-nova";
}

#resume-button {
  text-decoration: none;
  font-size: x-large;
  padding: 2.5px;
  border: 5px solid yellow;
  background-color: tan;
  border-radius: 25%;
  color: red;
}

#about-img {
  border-radius: 100%;
  margin-top: auto;
  margin-bottom: auto;
  width: 20%;
  height: fit-content;
}

@media (max-width: 1024px) {
  #about-section {
    flex-direction: column-reverse; /* Reverse the order of flex items */
  }

  #about-left-column {
    width: 100%; /* Make the left column take full width */
    margin-left: auto; /* Center the left column */
    margin-right: auto;
    margin-top: 0;
    text-align: center; /* Center the text within the left column */
  }

  #about-img {
    margin-left: auto; /* Center the left column */
    margin-right: auto;
    margin-bottom: 0;
    width: 50%; /* Adjust image width as needed */
  }
}
