#about-section {
    display: flex;
    justify-content: center;
    border: 10px;
    border-color: aliceblue;
}

#about-p {
    color: rgb(132, 0, 255);
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5%;
    font: normal normal 25px/1 "proxima-nova";
}

#about-img {
    border-radius: 100%;
    width: 20%;
}