/* Contact.css */
#contact-me {
  text-align: center;
}

.section-header {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-container {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5%;
}

.contact {
  width: 100px; /* Adjust the size as needed */
  cursor: pointer;
  margin-right: 50px;
  margin-left: 50px;
}

.contact:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.contact-icon {
  width: 100%;
}

.contact-name {
  color: lime;
}

