.section-header {
  color: aqua;
  font-family: "Gill Sans";
  font-style: italic;
  width: 100%;
  font-size: 100px;
}

@media (max-width: 1024px) {
  body {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .section-header {
    font-size: 10vw;
  }
}